body { background: #5a3c91; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-config-0 { color: #a49921; font-size: 19px; margin-bottom: 5px; }
.block-token-1 { color: #1d6965; font-size: 18px; margin-bottom: 5px; }
.block-product-2 { color: #284905; font-size: 17px; margin-bottom: 5px; }
.block-uploader-3 { color: #853288; font-size: 19px; margin-bottom: 5px; }
.block-sms-4 { color: #d4366f; font-size: 18px; margin-bottom: 5px; }